# Application Configuration
VITE_APP_NAME="SandBlox"
VITE_APP_DESCRIPTION="Deploy, Secure, and Manage Your Smart Contracts with Ease"
VITE_APP_URL="http://localhost:5173"

# WalletConnect Configuration
VITE_WALLET_CONNECT_PROJECT_ID=

# Network Configuration
VITE_DEVNET_RPC_URL=
VITE_DEVNET_CHAIN_ID=
VITE_DEVNET_NAME=
VITE_DEVNET_EXPLORER_URL=

